[submodule "openclaw"]
	path = openclaw
	url = ../openclaw.git
[submodule "openclaw-clawmate"]
	path = openclaw-clawmate
	url = ../openclaw-clawmate.git
[submodule "openclaw-tenant"]
	path = openclaw-tenant
	url = ../openclaw-tenant.git
